@import "tailwindcss";

@theme {
  --color-brand-50: #eef4ff;
  --color-brand-100: #dae6ff;
  --color-brand-200: #bcd2ff;
  --color-brand-300: #8eb5ff;
  --color-brand-400: #588cff;
  --color-brand-500: #3563ff;
  --color-brand-600: #1d40f5;
  --color-brand-700: #162fd1;
  --color-brand-800: #1829a9;
  --color-brand-900: #1a2a85;
  --color-brand-950: #141a4f;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
